@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url(../css/fonts/stylesheet.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -ms-margin-before: 0;
  -ms-margin-after: 0;
  -ms-margin-start: 0;
  -ms-margin-end: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  background: #f2f2f2;
  color: #000000;
  font-size: 17px;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.box {
  width: 970px;
  margin: 0 auto; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px; }

.wrapper {
  margin-bottom: -120px; }

.wrapper {
  min-height: 100%; }

.wrapper:after {
  content: "";
  display: block; }

.owl-carousel .owl-stage-outer {
  width: 100%; }

.ui-slider-horizontal {
  height: 6px; }

.ui-slider-horizontal .ui-slider-handle {
  top: -4px; }

.ui-slider .ui-slider-handle {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  cursor: pointer;
  outline: none; }

.range_tooltip {
  background: #ee3023;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -20px;
  width: 50px;
  text-align: center;
  padding: 4px 11px;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Muli"; }
  .range_tooltip:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -4px;
    border-bottom: 4px solid #ee3023;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; }

.ui-widget-header {
  background: #ee3023; }

.ui-widget-content {
  background: #e1e1da; }
  .ui-widget-content .ui-state-active {
    background: #e1e1da;
    border: 1px solid #B6B6AE; }

footer.footer, .wrapper:after {
  height: 120px; }

.wrapper header {
  background: #f2f2f2;
  position: relative; }
  .wrapper header.index_header {
    margin-bottom: -30px;
    z-index: 10; }
  .wrapper header .header_top {
    text-align: right;
    padding-top: 45px;
    padding-bottom: 18px; }
    .wrapper header .header_top ul.header_top_contacts {
      display: inline-block;
      overflow: hidden; }
      .wrapper header .header_top ul.header_top_contacts li {
        float: left; }
        .wrapper header .header_top ul.header_top_contacts li:last-child {
          margin: 0 4px 0 32px; }
        .wrapper header .header_top ul.header_top_contacts li span {
          display: inline-block;
          margin-left: 10px;
          color: #5b5b5b;
          font: 12px "Gotham Rounded"; }
        .wrapper header .header_top ul.header_top_contacts li i {
          color: #5b5b5b;
          font-size: 14px; }
  .wrapper header .header_main {
    overflow: hidden;
    margin-bottom: 30px; }
    .wrapper header .header_main .logo {
      float: left; }
      .wrapper header .header_main .logo a {
        text-transform: uppercase;
        font: 58px "Muli";
        line-height: 58px; }
        .wrapper header .header_main .logo a .logo_bold {
          color: #ee3023;
          font-weight: bolder; }
        .wrapper header .header_main .logo a .logo_light {
          color: #000000;
          font-weight: 100; }
        .wrapper header .header_main .logo a:hover .logo_bold {
          color: #000000; }
    .wrapper header .header_main .login {
      float: right; }
      .wrapper header .header_main .login ul.login_items {
        overflow: hidden;
        padding: 6px 8px;
        border: 2px solid #f9f9f9;
        border-radius: 8px; }
        .wrapper header .header_main .login ul.login_items li {
          float: left; }
          .wrapper header .header_main .login ul.login_items li.basket_col {
            width: 58px;
            height: 41px;
            line-height: 41px;
            text-align: center; }
            .wrapper header .header_main .login ul.login_items li.basket_col a {
              color: #5b5b5b;
              font: 14px "Gotham Rounded";
              display: inline-block;
              background: #f5f5f5;
              width: 32px;
              height: 32px;
              line-height: 32px;
              border-radius: 16px;
              vertical-align: middle;
              box-shadow: 0px 0px 2px 3px #e8e6e6; }
              .wrapper header .header_main .login ul.login_items li.basket_col a:hover {
                color: #ee3023;
                box-shadow: 0px 0px 2px 3px #DFDDDD; }
          .wrapper header .header_main .login ul.login_items li.login_col {
            width: 88px;
            height: 41px;
            line-height: 41px;
            text-align: center; }
            .wrapper header .header_main .login ul.login_items li.login_col a {
              color: #000000;
              font: 14px "Gotham Rounded";
              text-transform: uppercase; }
              .wrapper header .header_main .login ul.login_items li.login_col a:hover {
                color: #ee3023; }
          .wrapper header .header_main .login ul.login_items li.register_col a {
            display: inline-block;
            width: 167px;
            height: 41px;
            background-color: #f54f53;
            background-image: linear-gradient(to bottom, #ffb1ae 0%, #f54f53 10%, #e82026 30%, #ed2a2d 100%);
            color: #ffffff;
            text-align: center;
            border: 1px solid rgba(167, 37, 0, 0.8);
            border-radius: 4px;
            font: 20px "Gotham Rounded";
            line-height: 41px;
            text-transform: uppercase;
            text-decoration: none; }
            .wrapper header .header_main .login ul.login_items li.register_col a:hover {
              background-color: #E84D29;
              background-image: linear-gradient(to bottom, #ffb1ae 0%, #E84629 10%, #E84725 30%, #EA2A2B 100%); }
  .wrapper header .nav_bar {
    position: relative;
    height: 72px;
    padding: 23px 28px 0 0;
    border: 1px solid #e6e6eb;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 40%, #f7f7f7 100%); }
    .wrapper header .nav_bar .media_nav {
      display: none; }
    .wrapper header .nav_bar .wrap_nav_bar .search_form {
      float: right;
      width: 30%;
      text-align: right; }
      .wrapper header .nav_bar .wrap_nav_bar .search_form input[type='text'] {
        display: inline-block;
        width: 199px;
        height: 24px;
        padding: 1px 35px 0 8px;
        background-color: whitesmoke;
        color: #ab9f8d;
        font-size: 12px;
        border: 1px solid #cfc8bc;
        box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        outline: none; }
      .wrapper header .nav_bar .wrap_nav_bar .search_form button.submit_search {
        display: inline-block;
        vertical-align: middle;
        margin-left: -33px;
        background: transparent;
        border: none;
        color: #ab9f8d;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        cursor: pointer;
        outline: none; }
    .wrapper header .nav_bar .wrap_nav_bar ul.header_nav {
      overflow: hidden;
      display: inline-block;
      width: 70%; }
      .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li {
        float: left;
        padding: 0 30px;
        border-right: 1px solid #cfc8bc;
        line-height: 26px;
        height: 26px; }
        .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li:last-child {
          border-right: none; }
        .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li a {
          text-transform: uppercase;
          text-decoration: none;
          color: #444444;
          font: 24px "Gotham Condensed"; }
          .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li a:hover {
            color: #ee3023; }

@media screen and (max-width: 992px) {
  .wrapper header .header_top {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 16px; }
  .wrapper header .header_main {
    margin-bottom: 20px; }
    .wrapper header .header_main .login {
      float: none;
      text-align: center;
      border: 2px solid #f9f9f9; }
      .wrapper header .header_main .login ul.login_items {
        display: inline-block;
        border: 0px;
        border-radius: 0px; }
    .wrapper header .header_main .logo {
      text-align: center; }
      .wrapper header .header_main .logo a {
        font: 52px "Muli"; }
  .wrapper header .nav_bar {
    overflow: visible;
    padding: 2px 0 0 0;
    height: 50px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 30%, #f7f7f7 100%); }
    .wrapper header .nav_bar .media_nav {
      display: block;
      margin-right: 28px;
      float: right;
      font-size: 48px;
      color: #444444;
      cursor: pointer; }
    .wrapper header .nav_bar .wrap_nav_bar {
      display: none;
      background: #f7f7f7;
      position: absolute;
      top: 49px;
      left: 0;
      right: 0;
      z-index: 99; }
      .wrapper header .nav_bar .wrap_nav_bar .search_form {
        float: none;
        width: 100%;
        text-align: center;
        padding: 10px 0; }
        .wrapper header .nav_bar .wrap_nav_bar .search_form input[type='text'] {
          width: 250px;
          height: 26px; }
      .wrapper header .nav_bar .wrap_nav_bar ul.header_nav {
        width: 100%;
        display: block; }
        .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li {
          float: none;
          display: block;
          line-height: 1;
          height: auto;
          padding: 0;
          text-align: center;
          border-right: none;
          border-bottom: 1px solid #e6e6eb; }
          .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li:first-child {
            border-top: 1px solid #e6e6eb; }
          .wrapper header .nav_bar .wrap_nav_bar ul.header_nav li a {
            display: inline-block;
            width: 100%;
            height: 45px;
            line-height: 45px;
            background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 50%, #efeaea 100%); } }
@media screen and (max-width: 767px) {
  .wrapper header .header_top {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px; }
  .wrapper header .header_main {
    margin-bottom: 15px; }
    .wrapper header .header_main .logo {
      float: none;
      padding: 8px 0; }
      .wrapper header .header_main .logo a {
        font: 42px "Muli";
        line-height: 38px; }
    .wrapper header .header_main .login ul.login_items li.basket_col,
    .wrapper header .header_main .login ul.login_items li.login_col {
      height: 32px;
      line-height: 32px; }
    .wrapper header .header_main .login ul.login_items li.register_col a {
      height: 32px;
      line-height: 32px; }
  .wrapper header .nav_bar {
    height: 45px; }
    .wrapper header .nav_bar .media_nav {
      font-size: 40px; }
    .wrapper header .nav_bar .wrap_nav_bar {
      top: 44px; } }
@media screen and (max-width: 600px) {
  .wrapper header {
    margin-bottom: -20px; }
    .wrapper header .header_top {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 7px; }
    .wrapper header .header_main {
      margin-bottom: 7px; }
      .wrapper header .header_main .logo a {
        font: 32px "Muli"; } }
@media screen and (max-width: 480px) {
  .wrapper header {
    margin-bottom: -10px; }
    .wrapper header .header_top {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px; }
    .wrapper header .header_main {
      margin-bottom: 10px; }
      .wrapper header .header_main .logo {
        float: none;
        padding: 8px 0; }
        .wrapper header .header_main .logo a {
          font: 36px "Muli";
          line-height: 32px; }
      .wrapper header .header_main .login ul.login_items li.register_col a {
        width: 120px;
        font-size: 14px; } }
.wrapper section.filter_items {
  margin-top: 22px;
  margin-bottom: 30px; }
  .wrapper section.filter_items .box .filter_title h3 {
    display: inline-block;
    margin-left: 12px;
    padding: 8px 14px;
    background: #000000; }
    .wrapper section.filter_items .box .filter_title h3 a {
      color: #ffffff;
      font-size: 18px;
      font-family: "Muli";
      font-weight: bold;
      line-height: 18px;
      text-transform: uppercase; }
      .wrapper section.filter_items .box .filter_title h3 a:hover {
        color: #ee3023; }
  .wrapper section.filter_items .box .all_filtered_items {
    overflow: hidden;
    background: #ffffff;
    padding: 40px 38px 16px 30px; }
    .wrapper section.filter_items .box .all_filtered_items .brand_list {
      width: 20%;
      float: left; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list h3 {
        color: #000000;
        font-size: 16px;
        font-family: "Muli";
        font-weight: bolder;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 15px; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col {
        text-align: right;
        display: inline-block;
        vertical-align: top; }
        .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col a {
          display: block;
          font-size: 12px;
          line-height: 12px;
          font-family: "Open Sans";
          color: #000000;
          margin-bottom: 6px;
          text-decoration: none; }
          .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col a:hover {
            text-decoration: underline; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(1) {
        padding-right: 25px;
        border-right: 1px solid #D9D8D8; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(2) {
        padding-left: 22px; }
    .wrapper section.filter_items .box .all_filtered_items .filter_totals {
      width: 55%;
      float: left; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals {
        overflow: hidden; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li {
          display: inline-block;
          vertical-align: middle;
          background: #ffffff;
          width: 33%;
          height: 200px;
          text-align: center;
          margin-left: -3px;
          margin-right: 0.5%; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li:last-child {
            margin-right: 0; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h2 {
            display: inline-block;
            width: 90%;
            margin-bottom: 10px;
            color: #000000;
            font-size: 24px;
            font-family: "Muli";
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links {
            width: 100px;
            height: 100px;
            display: inline-block;
            margin-bottom: 12px;
            position: relative; }
            .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links img.list_totals_img {
              width: 100px;
              height: 100px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links img.shadows_img {
              position: absolute;
              display: none;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100px;
              height: 90px;
              width: 60px;
              height: 54px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links:hover img.shadows_img {
              display: block; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h4 {
            text-transform: uppercase;
            font: 14px "Muli";
            line-height: 14px;
            font-weight: bold;
            color: #ee3023;
            margin-bottom: 6px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_number {
            text-transform: uppercase;
            font: 15px "Muli";
            line-height: 15px;
            font-weight: 200;
            color: #000000;
            display: block;
            margin: 0 auto 10px;
            font-size: 10px;
            line-height: 10px;
            margin: 0 auto 4px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_bars {
            display: inline-block;
            width: 24px;
            font-size: 24px;
            color: #000000;
            font-size: 18px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_bars:hover {
              color: #ee3023; }
  .wrapper section.filter_items .box .filter_options {
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-left: 20px; }
    .wrapper section.filter_items .box .filter_options h3 {
      color: #000000;
      font-size: 16px;
      font-family: "Muli";
      font-weight: bolder;
      line-height: 18px;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .wrapper section.filter_items .box .filter_options .filter_color {
      margin-bottom: 30px; }
      .wrapper section.filter_items .box .filter_options .filter_color .color_list {
        height: 20px; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .color {
          display: inline-block;
          margin-left: -4px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          border: 1px solid transparent; }
          .wrapper section.filter_items .box .filter_options .filter_color .color_list .color:hover {
            border: 1px solid #ffffff; }
          .wrapper section.filter_items .box .filter_options .filter_color .color_list .color:first-child {
            margin-left: 0; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .red {
          background-color: #ee3023; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .light_orange {
          background-color: #f9a058; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .light_blue {
          background-color: #58a8f9; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .light_yellow {
          background-color: #dbe47b; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .ochre {
          background-color: #610b0e; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .dark_lilac {
          background-color: #781c70; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .dark_blue {
          background-color: #1b334c; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .light_green {
          background-color: #517737; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .violet {
          background-color: #7520e8; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .brown {
          background-color: #4c3d31; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .black {
          background-color: #000000; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .green {
          background-color: #1a6a0b; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .light_lilac {
          background-color: #a0629f; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .blue {
          background-color: #074a74; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .beige {
          background-color: #beadad; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .orange {
          background-color: #f65812; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .lemon {
          background-color: #c4da0f; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .marine {
          background-color: #377377; }
        .wrapper section.filter_items .box .filter_options .filter_color .color_list .dark_beige {
          background-color: #bd8b7a; }
.wrapper section.single_item {
  margin-bottom: 50px; }
  .wrapper section.single_item .single_item_title h2 {
    color: #000000;
    font-size: 34px;
    font-family: "Muli";
    line-height: 28px;
    font-weight: bolder;
    margin-bottom: 10px; }
  .wrapper section.single_item .single_item_title h4 {
    color: #000000;
    font-size: 18px;
    font-family: "Muli";
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 14px; }
  .wrapper section.single_item #gallery {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-left: -4px; }
    .wrapper section.single_item #gallery .large_item {
      margin-bottom: 6px;
      border: 1px solid #ebebeb; }
      .wrapper section.single_item #gallery .large_item img {
        display: block;
        width: 100%;
        height: 100%; }
    .wrapper section.single_item #gallery .thumbnails a.thumbnail_item {
      display: inline-block;
      position: relative;
      width: 32%;
      height: 120px;
      margin-right: 2%;
      border: 8px solid #ffffff; }
      .wrapper section.single_item #gallery .thumbnails a.thumbnail_item:first-child {
        margin-left: 0; }
      .wrapper section.single_item #gallery .thumbnails a.thumbnail_item:last-child {
        margin-right: 0; }
      .wrapper section.single_item #gallery .thumbnails a.thumbnail_item.active {
        border: 8px solid #ee3023; }
        .wrapper section.single_item #gallery .thumbnails a.thumbnail_item.active:after {
          border: none; }
      .wrapper section.single_item #gallery .thumbnails a.thumbnail_item:after {
        content: "";
        background: none;
        border: 1px solid #ebebeb;
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px; }
      .wrapper section.single_item #gallery .thumbnails a.thumbnail_item img {
        width: 100%;
        height: 100%; }
  .wrapper section.single_item .reviews {
    display: inline-block;
    vertical-align: top;
    width: 52%;
    margin-left: -4px;
    padding-left: 6%; }
    .wrapper section.single_item .reviews .review_top {
      padding-left: 8px;
      padding-bottom: 17px; }
      .wrapper section.single_item .reviews .review_top .prices_reviews {
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
        width: 72%; }
        .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part {
          display: inline-block;
          width: 100%;
          padding-bottom: 3px;
          border-bottom: 1px solid #c7c7c7; }
          .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback {
            display: inline-block;
            width: 58%; }
            .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback ul.review_stars {
              display: inline-block;
              width: 100%;
              margin-bottom: 3px; }
              .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback ul.review_stars li.review_star {
                display: inline-block;
                font-size: 18px; }
                .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback ul.review_stars li.review_star.red {
                  color: #ee3023; }
                .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback ul.review_stars li.review_star.gray {
                  color: #cfc8bc; }
            .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback .read_reviews {
              display: inline-block;
              vertical-align: top;
              font-size: 11px;
              font-family: "open_sansregular";
              font-style: italic;
              text-decoration: underline; }
          .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .old_price {
            display: inline-block;
            width: 40%;
            background: #ee3023;
            vertical-align: bottom;
            text-align: center;
            height: 30px;
            line-height: 30px;
            font-size: 28px;
            font-family: "Muli";
            padding: 0 25px;
            color: #ffffff;
            text-decoration: line-through; }
        .wrapper section.single_item .reviews .review_top .prices_reviews .new_price {
          display: inline-block;
          width: 100%;
          height: 68px;
          line-height: 68px;
          background: #ffffff;
          color: #000000;
          text-align: center;
          font-size: 64px;
          font-family: "Muli";
          font-weight: bolder;
          border: 1px solid #e5e5e5; }
      .wrapper section.single_item .reviews .review_top .discount_part {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        width: 28%;
        margin-left: -4px; }
        .wrapper section.single_item .reviews .review_top .discount_part img {
          display: inline-block;
          margin-bottom: 3px; }
        .wrapper section.single_item .reviews .review_top .discount_part span {
          font-size: 17px;
          font-family: "Muli";
          display: inline-block; }
          .wrapper section.single_item .reviews .review_top .discount_part span.save {
            font-weight: normal; }
          .wrapper section.single_item .reviews .review_top .discount_part span.percent {
            font-weight: bold; }
    .wrapper section.single_item .reviews .review_main {
      text-align: right; }
      .wrapper section.single_item .reviews .review_main p.review_desc {
        color: #929191;
        font-size: 16px;
        font-family: "Muli";
        margin-bottom: 10px;
        line-height: 14px; }
      .wrapper section.single_item .reviews .review_main .free_shipping {
        margin-bottom: 25px; }
        .wrapper section.single_item .reviews .review_main .free_shipping img {
          display: inline-block;
          vertical-align: middle; }
        .wrapper section.single_item .reviews .review_main .free_shipping .free_shipping_txt {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          font-family: "Muli";
          font-weight: bold; }
      .wrapper section.single_item .reviews .review_main .review_options {
        width: 207px;
        margin-bottom: 16px;
        display: inline-block; }
        .wrapper section.single_item .reviews .review_main .review_options .size_option, .wrapper section.single_item .reviews .review_main .review_options .qty_option {
          display: inline-block;
          text-align: left; }
        .wrapper section.single_item .reviews .review_main .review_options .qty_option {
          margin-left: 11px; }
        .wrapper section.single_item .reviews .review_main .review_options label {
          display: block;
          margin-bottom: 4px;
          color: #000000;
          font-size: 12px;
          font-family: "Muli";
          font-style: italic;
          font-weight: bold; }
        .wrapper section.single_item .reviews .review_main .review_options .select {
          position: relative;
          display: inline-block;
          overflow: hidden;
          border: 1px solid #ebebeb;
          border-radius: 4px;
          height: 34px; }
          .wrapper section.single_item .reviews .review_main .review_options .select.size {
            width: 128px; }
          .wrapper section.single_item .reviews .review_main .review_options .select.qty {
            width: 55px; }
        .wrapper section.single_item .reviews .review_main .review_options select {
          background: #ffffff;
          color: #000000;
          width: 100%;
          height: 100%;
          padding: 8px 7px;
          font-size: 12px;
          font-family: "Muli";
          font-style: italic;
          font-weight: bold;
          line-height: 12px;
          border: none;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
        .wrapper section.single_item .reviews .review_main .review_options .select:after {
          content: "";
          font-family: "FontAwesome";
          font-size: 12px;
          color: #000000;
          position: absolute;
          right: 0;
          top: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          z-index: 1;
          text-align: center;
          width: 20px;
          height: 100%;
          line-height: 34px;
          pointer-events: none; }
      .wrapper section.single_item .reviews .review_main .wrap_cart {
        overflow: hidden; }
        .wrapper section.single_item .reviews .review_main .wrap_cart .add_to_cart {
          display: block;
          margin-bottom: 40px;
          background-color: #f54f53;
          background-image: linear-gradient(to bottom, #ffffff 0%, #ffb1ae 2%, #f54f53 10%, #e82026 30%, #ed2a2d 100%);
          float: right;
          height: 46px;
          line-height: 46px;
          padding: 0 30px;
          color: #ffffff;
          text-align: center;
          font-size: 21px;
          font-family: "Muli";
          font-weight: normal;
          border: 1px solid rgba(167, 37, 0, 0.8);
          border-radius: 4px; }
      .wrapper section.single_item .reviews .review_main .share_this h4 {
        font-size: 13px;
        font-family: "Muli";
        font-weight: bold;
        margin-bottom: 5px; }
      .wrapper section.single_item .reviews .review_main .share_this .icon_block {
        display: inline-block;
        background: #ffffff;
        height: 30px;
        line-height: 35px;
        text-align: center;
        padding: 0 11px 0 16px;
        border-radius: 5px; }
        .wrapper section.single_item .reviews .review_main .share_this .icon_block span {
          display: inline-block;
          margin: 0 2px;
          width: 16px;
          height: 16px;
          background: url("../img/share_this.png") no-repeat; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block span.fb {
            background-position: -4px 0; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block span.twitter {
            background-position: -24px 0; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block span.message {
            background-position: -44px 0; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block span.print {
            background-position: -64px 0; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block span.cross {
            background-position: -84px 0; }
        .wrapper section.single_item .reviews .review_main .share_this .icon_block .rate {
          display: inline-block;
          vertical-align: text-top;
          position: relative;
          margin-left: 3px;
          height: 16px;
          line-height: 16px;
          background: #ffffff;
          color: #000000;
          text-transform: uppercase;
          text-align: right;
          font-size: 12px;
          font-family: "Muli";
          font-weight: bold;
          padding: 0 2px 0 5px;
          border: 1px solid #cfc8bc; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block .rate:before {
            content: "";
            position: absolute;
            top: 3px;
            left: -4px;
            border-right: 4px solid #cfc8bc;
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent; }
          .wrapper section.single_item .reviews .review_main .share_this .icon_block .rate:after {
            content: "";
            position: absolute;
            top: 4px;
            left: -3px;
            border-right: 3px solid #ffffff;
            border-bottom: 3px solid transparent;
            border-top: 3px solid transparent; }
.wrapper section.overview_items .overview_tabs li {
  background: #ffffff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0 25px;
  margin-left: 2px;
  cursor: pointer; }
  .wrapper section.overview_items .overview_tabs li:first-child {
    margin-left: 0; }
  .wrapper section.overview_items .overview_tabs li span {
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 500;
    line-height: 15px; }
.wrapper section.overview_items .overview_tabs li.current {
  background: #ee3023; }
  .wrapper section.overview_items .overview_tabs li.current span {
    color: #ffffff; }
.wrapper section.overview_items .overview_content .tab_content {
  display: none;
  background: #ffffff;
  padding: 40px 27px 70px 27px;
  border: 1px solid #ebebeb; }
  .wrapper section.overview_items .overview_content .tab_content .desc_title {
    text-transform: uppercase;
    color: #565f53;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px; }
  .wrapper section.overview_items .overview_content .tab_content article {
    color: #ababab;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 25px; }
  .wrapper section.overview_items .overview_content .tab_content .details_title {
    text-transform: uppercase;
    color: #ee3023;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 12px;
    margin-bottom: 14px; }
  .wrapper section.overview_items .overview_content .tab_content .details_list li {
    margin-bottom: 12px; }
    .wrapper section.overview_items .overview_content .tab_content .details_list li span {
      color: #898989;
      font-size: 12px;
      font-family: "Open Sans";
      font-weight: bold;
      line-height: 10px; }
.wrapper section.overview_items .overview_content .tab_content.current {
  display: inherit; }

@media screen and (max-width: 1200px) {
  .box {
    width: 100%; }

  .wrapper section.filter_items {
    padding: 0 20px; }
    .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(1) {
      padding-right: 10px; }
    .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(2) {
      padding-left: 10px; }
    .wrapper section.filter_items .box .all_filtered_items .filter_totals {
      width: 50%; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h2 {
        font-size: 22px;
        font-family: "Muli";
        font-weight: 400;
        line-height: 22px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links {
        width: 90px;
        height: 90px;
        margin-bottom: 12px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links img.list_totals_img {
          width: 90px;
          height: 90px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h4 {
        margin-bottom: 10px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_number {
        margin: 0 auto 10px; }
    .wrapper section.filter_items .box .all_filtered_items .filter_options {
      width: 30%;
      padding-left: 5px; }
  .wrapper section.single_item {
    padding: 0 20px; }
  .wrapper section.overview_items {
    padding: 0 20px; } }
@media screen and (max-width: 992px) {
  .wrapper {
    margin-bottom: -110px; }
    .wrapper section.filter_items .box .all_filtered_items {
      padding: 40px 6px 16px 6px; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(1) {
        padding-right: 5px; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(2) {
        padding-left: 5px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals {
        width: 50%; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h2 {
          font-size: 20px;
          font-family: "Muli";
          font-weight: 400;
          line-height: 20px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links {
          width: 80px;
          height: 80px;
          margin-bottom: 15px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links img.list_totals_img {
            width: 80px;
            height: 80px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h4 {
          margin-bottom: 10px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_number {
          margin: 0 auto 10px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_options {
        width: 30%;
        padding-left: 5px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list {
          height: 18px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list .color {
            width: 18px;
            height: 18px; }
    .wrapper section.single_item .reviews .review_top {
      padding-bottom: 10px; }
      .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .old_price {
        font-size: 24px;
        padding: 0; }
      .wrapper section.single_item .reviews .review_top .prices_reviews .new_price {
        height: 60px;
        line-height: 60px;
        font-size: 50px; }
    .wrapper section.single_item .reviews .review_main p.review_desc {
      font-size: 14px;
      margin-bottom: 8px; }
    .wrapper section.single_item .reviews .review_main .free_shipping {
      margin-bottom: 18px; }
    .wrapper section.single_item .reviews .review_main .review_options {
      margin-bottom: 8px; }
    .wrapper section.single_item .reviews .review_main .wrap_cart .add_to_cart {
      margin-bottom: 20px; }
    .wrapper section.overview_items .overview_content .tab_content {
      padding: 30px 22px 60px 22px; }
    .wrapper section.overview_items .overview_content .details_list li {
      margin-bottom: 8px; } }
@media screen and (max-width: 767px) {
  .wrapper {
    margin-bottom: 0; }
    .wrapper section.filter_items .box .all_filtered_items {
      padding: 40px 6px 16px 6px; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list {
        float: none;
        width: 100%;
        margin-bottom: 18px; }
        .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(1) {
          padding-left: 10px;
          padding-right: 0;
          border-right: none; }
        .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(2) {
          padding-left: 10px; }
        .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col a {
          display: inline-block;
          margin-right: 5px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals {
        float: none;
        width: 90%;
        margin: 0 auto; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h2 {
          font-size: 20px;
          font-family: "Muli";
          font-weight: 400;
          line-height: 20px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links {
          width: 80px;
          height: 80px;
          margin-bottom: 15px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links img.list_totals_img {
            width: 80px;
            height: 80px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h4 {
          margin-bottom: 10px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_number {
          margin: 0 auto 10px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_options {
        float: none;
        width: 90%;
        padding-left: 5px;
        margin-bottom: 30px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color {
          margin-left: 4px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list {
            height: 24px;
            display: inline-block;
            margin-left: -4px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list .color {
              width: 24px;
              height: 24px; }
    .wrapper section.single_item #gallery {
      width: 100%;
      margin-left: 0;
      margin-bottom: 30px; }
    .wrapper section.single_item .reviews {
      width: 100%;
      padding-left: 0;
      margin-left: 0;
      margin-bottom: 30px; }
      .wrapper section.single_item .reviews .review_top {
        padding-bottom: 15px; }
      .wrapper section.single_item .reviews .review_main {
        text-align: center; }
        .wrapper section.single_item .reviews .review_main .wrap_cart .add_to_cart {
          float: none;
          width: 80%;
          margin: 0 auto 22px; } }
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 0; }
    .wrapper section.filter_items .box .all_filtered_items {
      padding: 40px 6px 16px 6px; }
      .wrapper section.filter_items .box .all_filtered_items .brand_list {
        float: none;
        width: 100%;
        margin-bottom: 18px; }
        .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col {
          text-align: left; }
          .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(1) {
            padding-left: 8px;
            padding-right: 0;
            border-right: none; }
          .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col:nth-of-type(2) {
            padding-left: 10px; }
          .wrapper section.filter_items .box .all_filtered_items .brand_list .list_col a {
            display: inline-block;
            margin-right: 3px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_totals {
        float: none;
        width: 90%;
        margin: 0 auto; }
        .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li {
          float: none;
          width: 90%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 12px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li:last-child {
            margin-right: auto; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h2 {
            font-size: 22px;
            font-family: "Muli";
            font-weight: 400;
            line-height: 22px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links {
            width: 90px;
            height: 90px;
            margin-bottom: 15px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li a.list_total_links img.list_totals_img {
              width: 90px;
              height: 90px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li h4 {
            margin-bottom: 10px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_number {
            margin: 0 auto 10px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_totals ul.list_totals li .total_bars {
            font-size: 22px; }
      .wrapper section.filter_items .box .all_filtered_items .filter_options {
        float: none;
        width: 100%;
        padding-left: 0px;
        margin-bottom: 30px; }
        .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color {
          margin-left: 4px; }
          .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list {
            height: 24px;
            display: inline-block;
            margin-left: 0px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list:nth-of-type(2) {
              margin-top: -3px; }
            .wrapper section.filter_items .box .all_filtered_items .filter_options .filter_color .color_list .color {
              width: 24px;
              height: 24px; }
    .wrapper section.overview_items .overview_tabs li {
      height: 40px;
      line-height: 40px;
      padding: 0 10px; }
      .wrapper section.overview_items .overview_tabs li span {
        font-size: 14px;
        line-height: 14px; }
    .wrapper section.overview_items .overview_content .tab_content {
      padding: 25px 18px 40px 18px; }
      .wrapper section.overview_items .overview_content .tab_content .desc_title {
        font-size: 16px; }
      .wrapper section.overview_items .overview_content .tab_content article {
        line-height: 20px;
        margin-bottom: 20px; } }
@media screen and (max-width: 480px) {
  .wrapper {
    margin-bottom: 0; }
    .wrapper section.single_item .single_item_title h2 {
      font-size: 24px;
      line-height: 24px; }
    .wrapper section.single_item .single_item_title h4 {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px; }
    .wrapper section.single_item .reviews .review_top .prices_reviews .new_price {
      height: 45px;
      line-height: 45px;
      font-size: 38px; }
    .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .feedback {
      width: 57%; }
    .wrapper section.single_item .reviews .review_top .prices_reviews .feedback_part .old_price {
      font-size: 18px; }
    .wrapper section.single_item .reviews .review_top .discount_part img {
      width: 45px;
      height: 45px; }
    .wrapper section.single_item .reviews .review_main p.review_desc {
      line-height: 16px; }
    .wrapper section.overview_items .overview_tabs li {
      vertical-align: middle;
      height: 40px;
      line-height: 40px;
      padding: 0 5px;
      width: 31%; }
      .wrapper section.overview_items .overview_tabs li span {
        display: inline-block;
        vertical-align: middle;
        word-wrap: break-word;
        font-size: 12px;
        line-height: 12px; } }
footer.footer {
  position: relative;
  background: #ee3023;
  color: #ffffff;
  line-height: 120px;
  text-align: center; }
  footer.footer .box {
    height: 120px; }
  footer.footer .footer_logo {
    float: left;
    line-height: 120px; }
    footer.footer .footer_logo a {
      text-transform: uppercase; }
      footer.footer .footer_logo a .logo_bold {
        color: #ffffff;
        font: 28px "Muli";
        font-weight: bolder; }
      footer.footer .footer_logo a .logo_light {
        color: #ffffff;
        font: 28px "Muli";
        font-weight: 100; }
      footer.footer .footer_logo a:hover .logo_bold {
        color: #000000; }
  footer.footer nav {
    display: inline-block; }
    footer.footer nav ul.footer_nav {
      overflow: hidden; }
      footer.footer nav ul.footer_nav li {
        float: left;
        line-height: 1;
        border-right: 1px solid #ffffff;
        padding: 2px 12px; }
        footer.footer nav ul.footer_nav li:last-child {
          border-right: none; }
        footer.footer nav ul.footer_nav li a {
          color: #ffffff;
          font: 14px "Open Sans";
          line-height: 14px; }
          footer.footer nav ul.footer_nav li a:hover {
            text-decoration: underline; }
  footer.footer .socia_icons {
    float: right; }
    footer.footer .socia_icons ul {
      overflow: hidden;
      display: inline-block;
      vertical-align: sub; }
      footer.footer .socia_icons ul li {
        float: left;
        margin-right: 5px; }
        footer.footer .socia_icons ul li:last-child {
          margin-right: 0; }
        footer.footer .socia_icons ul li a {
          display: block;
          color: #ffffff;
          font: 32px "Open Sans";
          line-height: 25px; }
          footer.footer .socia_icons ul li a:hover {
            color: #cccccc; }

@media screen and (max-width: 1200px) {
  footer.footer {
    padding: 0 20px; } }
@media screen and (max-width: 992px) {
  footer.footer, .wrapper:after {
    height: 110px; }

  footer.footer {
    line-height: 110px; }
    footer.footer .box {
      height: 110px; }
    footer.footer .footer_logo {
      line-height: 110px; }
      footer.footer .footer_logo a .logo_bold {
        font: 22px "Muli";
        font-weight: bolder; }
      footer.footer .footer_logo a .logo_light {
        font: 22px "Muli"; }
    footer.footer nav ul.footer_nav li {
      padding: 2px 5px; }
      footer.footer nav ul.footer_nav li a {
        font: 12px "Open Sans";
        line-height: 12px; }
    footer.footer .socia_icons ul li {
      margin-right: 10px; }
      footer.footer .socia_icons ul li a {
        font: 27px "Open Sans";
        line-height: 25px; } }
@media screen and (max-width: 767px) {
  footer.footer, .wrapper:after {
    height: auto; }

  footer.footer {
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 20px; }
    footer.footer .box {
      height: 110px; }
      footer.footer .box .footer_logo {
        float: none;
        line-height: 24px; }
        footer.footer .box .footer_logo a .logo_bold {
          font: 18px "Muli";
          font-weight: bolder; }
        footer.footer .box .footer_logo a .logo_light {
          font: 18px "Muli"; }
      footer.footer .box nav {
        width: 100%;
        margin: 10px 0; }
        footer.footer .box nav ul.footer_nav {
          display: table;
          width: 100%; }
          footer.footer .box nav ul.footer_nav li {
            padding: 2px 5px;
            float: none;
            display: table-cell; }
            footer.footer .box nav ul.footer_nav li a {
              font: 12px "Open Sans";
              line-height: 12px; }
    footer.footer .socia_icons {
      float: none; }
      footer.footer .socia_icons ul li {
        margin-right: 15px; }
        footer.footer .socia_icons ul li a {
          font: 30px "Open Sans";
          line-height: 27px; } }
@media screen and (max-width: 600px) {
  footer.footer .box {
    height: auto; }
    footer.footer .box nav ul.footer_nav {
      display: block;
      width: 100%; }
      footer.footer .box nav ul.footer_nav li {
        padding: 4px 5px;
        float: none;
        display: block;
        border-right: none; }
        footer.footer .box nav ul.footer_nav li a {
          font: 16px "Open Sans";
          line-height: 16px; } }

/*# sourceMappingURL=single.css.map */
